/*ログイン機能*/
.eater-login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.eater-check-label {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.eater-require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.eater-require-input-label-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.eater-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: red;
}

.eater-login-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: red;
}
    /*ここまでログイン機能*/

   /* FOODIEのサイズ指定 */
   .front-page-text {
    color:#e5e5e5;
    font-size: 30px;   
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}

.front-page-backgrand {
    background-color: rgb(0, 0, 0);
}